<ion-view view-title="Reservations" hide-back-button="false">
  <ion-content>
    <div class="item item-icon-left">
      <i class="icon ion-key"></i> Room: {{reservation.room}}
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-calendar"></i> Checkin: {{reservation.checkin | date: 'mediumDate'}}
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-calendar"></i> Checkout: {{reservation.checkout | date: 'mediumDate'}}
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-wifi"></i> Wifi Code: {{reservation.wifi}}
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-pricetag"></i> Rate: {{reservation.rate | currency}}/night
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-pricetags"></i> Total: {{reservation.rate * 7 | currency}}
    </div>
  </ion-content>
</ion-view>
